{
	"env": {
		"development": {
			"presets": [
				"es2015",
				"stage-0-without-async",
			],
			"plugins": [
				"transform-decorators-legacy",
			],
		},
		"doc": {
			"presets": [
				"react",
				["es2015", { "modules": false }],
				"stage-0",
			],
			"plugins": [
				"react-hot-loader/babel",
				"transform-decorators-legacy",
				"transform-runtime",
				"lodash",
				["import", {
					"libraryName": "antd",
					"style": true,
				}],
			],
		},
		"umd": {
			"presets": [
				"react",
				["es2015", { "modules": false }],
				"stage-0",
			],
			"plugins": [
				"transform-decorators-legacy",
				"lodash",
			],
		},
		"es": {
			"presets": [
				"react",
				["es2015", { "modules": false }],
				"stage-0",
			],
			"plugins": [
				["module-resolver", {
					"root": [ "./src" ],
				}],
				"dev-expression",
				"transform-decorators-legacy",
				"lodash",
				["import", {
					"libraryName": "antd",
					"style": true,
				}],
			],
		},
		"cjs": {
			"presets": [
				"react",
				"es2015",
				"stage-0",
			],
			"plugins": [
				["module-resolver", {
					"root": [ "./src" ],
				}],
				"dev-expression",
				"transform-decorators-legacy",
				"lodash",
				["import", {
					"libraryName": "antd",
					"style": true,
				}],
			],
		},
	},
}
