#components-form-demo-advanced-search {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.container {
	padding: 20px;
	border:  1px solid #eee;
	margin: 20px 0;
}


