.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.title, {
	margin-top: -160px;
}

.form {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #eee;
  margin-top: 10px;
  width: 100%;
}

.bt {
  width: 100%;
}
