
.container {
	min-height: 104px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	.uploadButton {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.uploadButtonIcon {
		font-size: 20px;
		color: #888;
	}

	.uploadButtonText {
		font-size: 14px;
		color: #888;
	}
}

.image {
	width: 100%;
}

.thumb {
	background-color: #eee;
}
